################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/POC.Native.Cloud.DBConnector/bin/Debug/netcoreapp2.0
/POC.Native.Cloud.DBConnector/obj
/POC.Native.Cloud.DBConnector.Tests/bin/Debug/netcoreapp2.0
/POC.Native.Cloud.DBConnector.Tests/obj
/POC.Native.Cloud.Infrastructure/bin/Debug/netcoreapp2.0
/POC.Native.Cloud.Infrastructure/obj
/POC.Native.Cloud.Integration/bin/Debug/netcoreapp2.0
/POC.Native.Cloud.Integration/obj
/POC.Native.Cloud.Models/bin/Debug/netcoreapp2.0
/POC.Native.Cloud.Models/obj
/POC.Native.Cloud.Repository/bin/Debug/netcoreapp2.0
/POC.Native.Cloud.Repository/obj
/POC.Native.Cloud.Repository.Tests/bin/Debug/netcoreapp2.0
/POC.Native.Cloud.Repository.Tests/obj
/POC.Native.Cloud.Services/bin/Debug/netcoreapp2.0
/POC.Native.Cloud.Services/obj
/POC.Native.Cloud.Services.Tests/bin/Debug/netcoreapp2.0
/POC.Native.Cloud.Services.Tests/obj
/POC.Native.Cloud.Traffic.Simulator/bin/Debug/netcoreapp2.0
/POC.Native.Cloud.Traffic.Simulator/obj
/POC.Native.Cloud.ViewModels/bin/Debug/netcoreapp2.0
/POC.Native.Cloud.ViewModels/obj
/POC.Native.Cloud.Web/bin/Debug/netcoreapp2.0
/POC.Native.Cloud.Web/obj
/POC.Native.Cloud.WebAPI/bin
/POC.Native.Cloud.WebAPI/obj/Debug
/POC.Native.Cloud.WebAPI.Tests/bin/Debug
/POC.Native.Cloud.WebAPI.Tests/obj/Debug
